body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.dancefloor{
  display: flex;
  justify-content: center;
  align-content: center;
  height:100%;
  width:auto;
  /*position: relative;*/
}
.partyline{
/*  display: fixed;
  margin: 0 auto;*/
  height:100px;
  width: 100%;
  position: absolute;
  justify-self: center;
  align-self: center;
  top:50%;
}
.title, .addDancerButton{
  padding:0px 12px;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.clippyDancer{
  position: absolute;
  padding:5px;
}

.catDancer{
  position: absolute;
  padding:5px;
}

.dogDancer{
  position: absolute;
  padding:5px;
}