body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  font-size: 18px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.container {
  display: grid;
  grid-template-rows: 10% auto;  
}
.dancefloor{
  display: flex;
  justify-content: center;
  align-content: center;
  height:100%;
  width:100%;
  position: absolute;
}
.partyline{
/*  display: fixed;
  margin: 0 auto;*/
  height:100px;
  width: 100%;
  position: absolute;
  justify-self: center;
  align-self: center;
  top:50%;
}
.title {
  font-size: 20px;
  font-family: serif;
  font-weight: bold;
  color: yellow;
  padding: 0px 12px;
}

.addDancerButton{
  padding:0px 12px;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #555;
}
.clippyDancer{
  position: absolute;
  padding:5px;
}

.clippyDancer:hover{
  transform: scale(1.5);
}

.catDancer{
  position: absolute;
  padding:5px;
}
.catDancer:hover{
  animation: spin 500ms linear infinite;
}

.dogDancer{
  position: absolute;
  padding:5px;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}
